# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

public/meOnTheGlacierProfilePhoto.jpg
public/acmAtsdsu_logo.jpg
public/aztecthenix_logo_transparent.png
public/MSLC_logo.png
public/WCOsdsu_logo.jpg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?